@page "/"

<PageTitle>Home</PageTitle>

<MudContainer Class="pa-5">
    <MudGrid>
        <MudItem xs="12" sm="6" md="7">
            <MudImage Src="Images/Logo.jpeg" Width="450" Fluid="true" />
            <MudText Typo="Typo.h3">Hunting. Cooking. Community.</MudText>
            <MudText Typo="Typo.h5">One stop shop for recipes, podcasts, blogs, and videos.</MudText>
        </MudItem>
        <MudItem xs="12" sm="6" md="5">
            <MudImage Src="Images/Llamas.jpeg" Width="450" Fluid="true" />
        </MudItem>
    </MudGrid>
</MudContainer>

<MudContainer Class="pa-8" Style="@(string.Format("background-color: {0}", Colors.Gray.Lighten1))">
    <MudText Typo="Typo.h5" GutterBottom="true">Services</MudText>
    <MudContainer Class="mt-8 px-4" MaxWidth="MaxWidth.False">
        <MudGrid>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                    <MudLink Href="@("/recipes/search")">
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                            <MudText Typo="Typo.h5" Class="mb-5">Recipes</MudText>
                            <MudIcon Icon="@Icons.Material.Filled.Fastfood" Class="mb-2" Size="Size.Large" />
                        </div>
                    </MudLink>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                    <MudLink Href="@($"/podcast")">
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                        <MudText Typo="Typo.h5" Class="mb-5">Podcast</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Mic" Class="mb-2" Size="Size.Large" />
                    </div>
                    </MudLink>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                    <MudLink Href="@($"/blog")">
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                        <MudText Typo="Typo.h5" Class="mb-5">Blog</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.Newspaper" Class="mb-2" Size="Size.Large" />
                    </div>
                    </MudLink>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" sm="6" md="3">
                <MudPaper Elevation="2" Class="pa-4" Style="height: 100%">
                    <MudLink Href="https://www.hunthookandcook.shop" Target="_blank">
                        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
                        <MudText Typo="Typo.h5" Class="mb-5">Shop</MudText>
                        <MudIcon Icon="@Icons.Material.Filled.ShoppingBag" Class="mb-2" Size="Size.Large" />
                    </div>
                    </MudLink>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudContainer>

<MudContainer Class="pa-5">
    <MudText Typo="Typo.h5" GutterBottom="true">My Mission</MudText>
    <MudContainer Class="mt-4 px-4" MaxWidth="MaxWidth.False">
        <MudGrid>
            <MudItem xs="4">
                <MudText Class="mb-8" Typo="Typo.body1">To help others hunt, cook, and fellowship.</MudText>
                <MudText Class="mb-8" Typo="Typo.body1">To turn deer into soup.</MudText>
                <MudText Class="mb-8">Who are you: ____</MudText>
                <MudText Class="mb-8">What do you do: ____</MudText>
                <MudText Class="mb-8">How can you help me: ____</MudText>
            </MudItem>
            <MudItem xs="4">
                <MudImage Src="Images/Deer1.jpg" Alt="Deer" Width="500" Elevation="25" Class="rounded-lg" ObjectFit="ObjectFit.Fill" Fluid="true" />
            </MudItem>
            <MudItem xs="4">
                <MudImage Src="Images/VenisonSoup.jpg" Alt="Venison Soup" Width="255" Elevation="25" Class="rounded-lg" ObjectFit="ObjectFit.Fill" Fluid="true" />
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudContainer>

<MudContainer Class="pa-5">
    <MudText Typo="Typo.h5" GutterBottom="true">About</MudText>
    <MudContainer Class="mt-8 px-4" MaxWidth="MaxWidth.False">
        <MudGrid>
            <MudItem xs="4">
                <MudImage Src="Images/Trophy-Deer-01.jpeg" Alt="Me and my food" Elevation="25" Class="rounded-lg" ObjectFit="ObjectFit.Fill" Fluid="true" />
            </MudItem>
            <MudItem xs="8">
                <MudText Typo="Typo.body2">
                    Bio <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <br/>
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut <br/>
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum <br/>
                    dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui  <br/>
                    officia deserunt mollit anim id est laborum.
                </MudText>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudContainer>
